

header {
	background: white;
	height: 70px;
	width: 100%;
	border-bottom: solid 1px #CCCCCC;
	position: fixed;
	top: 0;
}
.logo {
	display: inline-block;
	content: url(./images/logo.png);
	left-align: 20px;
	float: left;
	margin: auto;
}
